[2018-08-16 13:00] relyativist opened #1 "studyforrest-data"
Hello, how could i get https://openfmri.org/dataset/ds000113/ in BIDS format?  what tools could convert form old openfmri to BIDS? thank you

[2018-12-18 08:57] mih commented on #1
Late response, but we are almost ready to re-release this dataset in BIDS format -- rebuilt from the RAW data files without much enriched metadata.

[2021-04-08 06:05] mih opened #2 "Register all (raw?) datasets with this superdataset"
As a prerequisite we have to decide on the internal super dataset structure. OpenNeuro went for a single joint dataset. I feel like this does not scale, or at least would only apply to one of the subdatasets.

This particular superdataset must also host all derivative data and external contributions.

Here is a draft list of what needs to be considered:

### "raw"
- https://github.com/psychoinform

[2021-04-08 06:07] mih opened #3 "Use DataLad-only access instructions on website and READMEs"
All other means are other outdated, or limited with respect to what is available.

At present the website describes git-annex based access as "geek mode". These times are over.

[2021-04-08 06:09] mih opened #4 "Check and use availability of files hosted on openneuro's S3"
Register them as URLs for the respected annex keys in all relevant datasets. This makes the datalad datasets superior to all other data representations, as they comprise all access methods.

[2021-04-08 06:12] mih opened #5 "Maintain phase1 data representation as described in papers + BIDS"
Like we do for UKB, have two branches, one with the described layout, and one compliant with a recent BIDS.

This affects primarily:

- https://www.nature.com/articles/sdata20143
- https://f1000research.com/articles/4-174

Both pointing to OpenfMRI datasets that do not exist in the described form anymore.

[2021-04-08 06:13] mih opened #6 "Register the superdataset with http://datasets.datalad.org"

[2021-04-08 06:15] mih opened #7 "Basic dataset metadata for all subdatasets"
In particular for those that have publications attached to them. We need to decide on:

- [ ] a format to place the necessary metadata into a file in these datasets (some are in BIDS format, which could be sufficient)

[2021-04-08 06:17] mih opened #8 "Host the full dataset (collection) on GIN"
It should have sufficient space and is fully datalad compatible. There are no restrictions re format and specs, hence it can take more than OpenNeuro would.

A worthwhile target would be the assignment of DOIs for each dataset component. For that we would need to provide datacite-compliant records in each subdataset (see #7)

[2021-04-08 06:18] mih opened #9 "Change website "tone" to a static dataset"
The present one still talks about "planned" acquisitions.

[2021-04-08 06:19] mih opened #10 "Update list of dataset consumer publications on website"
https://www.studyforrest.org/publications.html

Last update in 2019

[2021-04-09 11:38] adswa opened #11 "Hide lab_eyetracking away"
see https://github.com/psychoinformatics-de/studyforrest-data-phase2/pull/16

[2021-04-09 11:48] adswa opened #12 "BIDS eyetracking data"
The BEP20 extension proposal isn't yet merged (https://docs.google.com/document/d/1eggzTCzSHG3AEKhtnEDbcdk-2avXN6I94X8aUPEBVsw/edit#heading=h.9tphvz6ot0j1), but better than when I last looked at it. Its probably a good idea to check which metadata they recommend and require, and as far as I can see from a quick browse through BIDS 1.5.0, the json sidecar files for eyetracking data are yet missing.

[2021-04-10 15:05] adswa commented on #12
Relevant metadata:

MUST:
``TaskName``
SHOULD:
[code]
[code]

[2021-04-13 07:04] adswa opened #13 "Missing dataset description"
see https://github.com/psychoinformatics-de/studyforrest-data-structural/issues/3

[2021-04-13 07:42] adswa opened #14 "Ensure a several hosting locations for data"
It seems that only the datapub server has data for the structural data. I realized that today because the HDF cloud is down for maintenance:

[code]

Maybe there are more datasets with only one working registered source.

[2021-04-13 12:44] chrhaeusler opened #15 "provide (plethora of) annotations as segmented event files"

[2021-04-15 09:20] mih opened #16 "Data quality visualization demo?"
Maybe it would be straightforward to adopt @jsheunis web-app for this?

[2021-04-15 09:46] jsheunis commented on #16
I'm happy to look into this.

For context:
- [the Plotly Dash app](https://rt-me-fmri.herokuapp.com/)
- [the code repo](https://github.com/jsheunis/rt-me-fmri-dash)

[2021-04-20 07:52] adswa opened #17 "Host parallel-processing workflow results"
We have preprocessed structural studyforrest data with fmriprep using the pipeline we want to describe in an upcoming manuscript. It would be good to host this as a tutorial (gladly with annexed result data via datapub) here in psyinf.

[2021-04-20 08:01] aqw opened #18 "uplift website build"
Modernize the build and get the beast building again.

[2021-04-20 08:02] aqw opened #19 "separate website and data assets"
If possible, it would be ideal to be able to build just the website and host it on (e.g.) GitHub Pages.

The data will live elsewhere. Best case scenario, we hotlink to the published upstream data.

[2021-04-20 08:05] aqw opened #20 "examine data processing of website build"
I know nothing about this, other than (at one point) FSL was needed to process some of the data and turn it into a form usable by Papaya (and possibly other web assets).

The purist in me would love to see no processing just for the website, and either use the raw data (unlikely), or publish the processed data if it's of utility to others.

If, however, the above is not feasible, we should process

[2021-04-20 08:05] aqw opened #21 "use CI/CD to build and publish website"

[2021-04-20 08:08] aqw opened #22 "uplift look and feel of the website"
There is not enough time for an overhaul, but I would like to take a whack at the following:

- remove bootstrap. It's heavy, outdated, and am not a fan of the look. IIRC, I have a branch that is halfway done with this.
- https://www.studyforrest.org/data.html

[2021-04-20 08:09] aqw opened #23 "update/fix Papaya"
Something caused it to break

- https://www.studyforrest.org/pages/mod_t1w.html

[2021-04-20 08:10] aqw opened #24 "assess the usefulness of the "log" page"
https://www.studyforrest.org/archives.html

Connected a bit to #9

[2021-04-20 08:10] aqw commented on #3
https://www.studyforrest.org/access.html

[2021-04-20 08:12] aqw opened #25 "update hosting acknowledgments"
Studyforrest is currently hosted at FZJ. We should add FZJ (and possibly others, such as Gin #8) to the list.

https://www.studyforrest.org/access.html

List:
- OpenNeuro
- FZJ
- Gin

OvGU no longer hosts the data

[2021-04-22 06:11] adswa commented on #14
This can - at least partially - be addressed by #8

[2021-04-22 06:19] mih opened #26 "Hackathon coordination (projects)"
Here is a list of project that @mih extracted from the individual issues. Feel free to edit the post to extend/alter.

### Redo Website

Essentially replace the current one, with something that is easier to build, more lightweight, and potentially presents the dataset as more of a "done" thing.

**Subprojects:**
- Website content (e.g., #9, #10, #24, #25)
- Website infrastructure (e.g., #19, #22,

[2021-04-22 06:21] mih commented on #26
Once discussed, we can turn the accepted projects into actual projects of the management feature of this github repo.

[2021-04-22 06:45] adswa commented on #26
I have tried to refine this into subprojects/-topics

[2021-04-22 08:06] adswa commented on #26
Needed: A list of resources
- Current OpenNeuro dataset: https://openneuro.org/datasets/ds000113/versions/1.3.0
- Website: https://www.studyforrest.org/
- Website sources: https://github.com/psychoinformatics-de/studyforrest-www
- Phase 1 data on juseless: /data/project/studyforrest/anondata

[2021-04-22 08:47] aqw opened #27 "explore niivue"
It's a WebGL based nifti viewer.

If usable, it might be a nice alternative to [Papaya](https://rii-mango.github.io/Papaya/), which we currently use, but is fussy, and currently broken on the website (see #23).

https://github.com/niivue/niivue
https://hanayik.github.io/niivue/

[2021-04-22 08:51] adswa commented on #2
Discussed in meeting on Apr. 22nd:  From this superdataset, create (with datalad-copyfile) an assembled dataset that looks like the current dataset structure on OpenNeuro: https://openneuro.org/datasets/ds000113/versions/1.3.0

[2021-04-22 10:15] mih opened #28 "Generate OpenNeuro-like dataset"
This could be using `copy_file()`, but needs work https://github.com/datalad/datalad/issues/600#issuecomment-824715427

It is also related to the choice of hosting (ping #8)

[2021-04-22 11:17] mih opened #29 "Reconversion of phase1 data from raw into bids"
There are two possible approach that I can see:

### Make the code from 2013 run reproducibly

This should be doable, this was all standard Debian package and the custom code in the datasets. We could create a singularity image that travels back in time. This would be attractive from a perspective of forensic data management. And might get us to a place that matches the OpenNeuro #28  state, but w

[2021-04-22 11:35] bpoldrack commented on #29
I think it depends on what's most important. I can see the argument for the first approach.
If highest priorities are a) matching the state in OpenNeuro and b) minimizing workload then this looks like a good idea.

However, I'd argue that there is an additional Pro for the second approach: We'd have a raw dataset + specifications, that we can much more easily apply any different conversions in the

[2021-04-22 11:50] mih commented on #29
I'd say we go for (2) hirni in this case.

[2021-04-23 08:49] jsheunis commented on #27
Another option to look into is Brainsprite, which can be used to generate the html and javascript statically, although it is more limited ito in-browser user functionality.

https://github.com/brainsprite/brainsprite
https://brainsprite.github.io/index.html

[2021-04-24 07:16] aqw opened #30 "assess usefullness of "log" subpages"
We have decided the [Log](https://www.studyforrest.org/archives.html) page is no longer needed, but it is the only page that links to the pages listed on it.

I see three options:
- delete "Log" and all sub-pages it links to
- delete "Log" but keep the sub-pages, effectively orphaning them, but any external direct links (hypothetical as they may be) will still work.
- keep the page and rename "Log

[2021-04-25 14:19] aqw commented on #21
Open question: what is the preferred CI of psyinf?

Travis is dead to us, so I see the following:

- GitHub Actions
- Appveyor

[2021-04-25 14:33] bpoldrack commented on #21
My 2 cents: From my POV, the advantage of AppVeyor is to have VMs running where one can actually login. The number of workers is limited, though. For the purpose of website building GitHub Actions are fine, I guess, and don't put an additional burden on the AppVeyor account.

[2021-04-25 14:34] loj commented on #2
I'm not able to access the multi-res 3T repo (https://github.com/psychoinformatics-de/studyforrest-data-multires3t). @mih, could you grant access?

[2021-04-26 05:07] mih commented on #2
@loj I have no idea why it is even private... I will add all of us, but we really should make this public -- need to figure out why it is not...

[2021-04-26 05:09] adswa commented on #13
I have started https://github.com/psychoinformatics-de/studyforrest-data-structural/pull/4 to address this

[2021-04-26 05:38] mih commented on #2
I have pinged @ayansengupta, asking if we can make this public

[2021-04-26 06:02] adswa commented on #14
Technical detail: GIN repositories will need to be registered as a Git-type special remote for git-annex: https://git-annex.branchable.com/special_remotes/git/

[2021-04-26 06:37] chrhaeusler commented on #15
above is a list of annotations I am aware of. Please let me know if one annotation is missing.

The plan is to first take the the easy road:
- update the repo [studyforrest-data-annotations](https://github.com/psychoinformatics-de/studyforrest-data-annotations) in a 'self-sufficient' manner.

Then:
- scripts will a take an argument for an output path in order to later write the event files to the

[2021-04-26 06:49] aqw commented on #19
This is "separate" now, in that I have removed all data processing from the build.

Currently, only the website is built. The makefile is also dead.

If building needs to be reintroduced, it should either:
- extend `tasks.py`
- reintroduce a makefile, and connect with `tasks.py` (either it should call `tasks.py` or vice-versa)

[2021-04-26 06:50] aqw commented on #18
The build has been updated to support the latest pelican. Plugins are overhauled and updated.

The complexity of the data build has been stripped entirely. It's possible reintroduction will be tracked in #19

[2021-04-26 06:50] #18 closed

[2021-04-26 06:54] aqw commented on #30
I did not realize that I had already opened #24

Keeping this one open, as it is more complete.

[2021-04-26 06:54] aqw commented on #24
The decision is to remove the page.

#30 discusses the knock-on effects of this.

[2021-04-26 06:54] #24 closed

[2021-04-26 06:56] aqw opened #31 "determine value of "data" subpages"
The [data page](https://www.studyforrest.org/data.html) will be entirely reworked. The general idea is that the demos in the "gists" are not necessary, and will likely be replaced with other demos (e.g. #16 and #27).

The question now is whether the /content/ on those pages is of value:

- [Prolonged quasi-natural stimulation with an audio-movie](https://www.studyforrest.org/pages/acq_aomovie.html

[2021-04-26 07:44] aqw commented on #30
The decision is that these can all be nuked.

Any content can be viewed through the Internet Archive (we love you!).

If someone is motivated, the pages covering the contest could be kept.
If anything /should/ be retained, there is an argument for the contest to be kept

[2021-04-26 07:44] aqw commented on #31
The decision has been made: they all should be removed.

[2021-04-26 07:48] aqw opened #32 "build publications page dynamically"
This should be part of the website build, rather than via the browser (for SEO purposes).

The purpose is to have a single source of truth for publications, rather than updating multiple locations.

I am told that GitHub Actions has a cron-like feature.

The website build should run automatically, periodically, in order to update this.

[2021-04-26 08:09] chrhaeusler opened #33 "provide dataset with scripts that produce the low-level confounds for AO & AV stimulus"
see title.

I took a look into the scripts: it seems i have the raw outputs for the audio-description, too, but in another place.
Nevertheless, I'll stick to the plan to just make the confound files magically appear as BIDS .tsv in the data-annotation repo.

In general the content of the folder that I have and that should be the basis for the dataset looks like this:

[code]

[2021-04-26 09:07] mih opened #34 "Establish studyforrest-data-raw"
Aiming to be a superdataset for targeted subdatasets for each "study". These studies were internally called

- `7T_ad`
- `pandorra`
- `anatomy
- `fg_eyegaze_raw`
- `3T_av_et`
- `3T_visloc`

[2021-04-26 09:41] aqw commented on #31
DONE.

[2021-04-26 09:41] #31 closed

[2021-04-26 09:41] aqw commented on #30
The challenge/contest page is a "page" actually, and still lives. it's just not discoverable at the moment.

All "log" pages and assets have been removed.

[2021-04-26 09:41] #30 closed

[2021-04-26 09:56] bpoldrack commented on #34
I'm working on building this dataset with subdatasets `7T_ad`, `pandorra`, `anatomy` for now.
Not entirely clear whether and how we want to reflect the notion of `phase1`. Three options:

- within this dataset (just directory?), so it's clear by hierarchy that `7T_ad`, `pandorra`, `anatomy` are its parts
- at the level of converted, anonymized BIDS datasets only as a partial conversion of `studyfo

[2021-04-26 10:57] loj commented on #34
I would lean towards option 2

At this level, then, we could also maintain the data representation as described in papers in a separate branch. #5

[2021-04-26 11:11] m-wierzba opened #35 "Current state of the OpenNeuro dataset"
This issue is meant to record all aspects related to the current state of the dataset available at OpenNeuro:
https://openneuro.org/datasets/ds000113/versions/1.3.0

[2021-04-26 11:19] bpoldrack commented on #34
True, but independent on how we reference the raw data at the level of a notion like `phase1`.

The "issue" with 2) would be dataset level files like `README`, `dataset_description.json` and so on. Current approach would be to have them in the raw dataset and use a "copy-converter" for the respective BIDS dataset. If we don't have a `phase1-raw` location (1 or 3), where would those things live? Th

[2021-04-26 11:43] adswa commented on #12
As it is not yet clear where this information needs to go, I am collecting all of the pieces in this issue:

- BIDS BEP20 is not yet merged, and does not appear to be to close to a merge - let's comply to BIDS 1.6 as best as possible (using the Physiological and other continuous recordings specification)
- Currently, the eyetracking data consists of two files, of which the first complies to BIDS n

[2021-04-26 11:45] adswa commented on #3
FWIW, you maybe can base updated instructions on this template: http://handbook.datalad.org/en/latest/basics/101-180-FAQ.html#how-can-i-help-others-get-started-with-a-shared-dataset

[2021-04-26 12:23] loj commented on #29
@bpoldrack here is the BIDS spec for the diffusion data https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#diffusion-imaging-data

Susceptibility Weighted Imaging (SWI) is still a BEP (https://docs.google.com/document/d/1kyw9mGgacNqeMbp4xZet3RnDhcMmf4_BmRgKaOkO2Sc/edit)

[2021-04-26 12:25] adswa commented on #17
I will create two datasets: One for the processing workflow collection of scripts, and one for the processed data. I'll link the processed data as a subdataset, and will publish it to Gin, too.

[2021-04-26 12:35] jsheunis commented on #16
OK, I'm adding some information here to sketch ideas for how data quality could be represented for the studyforrest dataset. Much of this is influenced by my current and limited understanding of the dataset and its composition, i.e. it will probably change.

### Current thinking

The represented data quality measures will depend on the data itself. There are multiple modalities and datatypes from

[2021-04-26 13:39] adswa commented on #17
Data are here: https://github.com/psychoinformatics-de/processing-workflow-tutorial
Workflow tutorial is here: https://github.com/psychoinformatics-de/processing-workflow

[2021-04-26 13:45] adswa commented on #17
data path on juseless: /data/group/psyinf/processing-workflow-tutorial

[2021-04-26 13:47] adswa commented on #17
TODO:

- [ ] Add datacite.yml
- [ ] Apply for DOI

[2021-04-26 13:53] aqw opened #36 "should there be a dedicate studyforrest-artwork repo"
Currently there is a `artwork/` subdir in the website repo. I have not sorted through it yet, but the assets could have wider application and usefulness.

Thoughts?

[2021-04-26 13:58] adswa commented on #36
I like the idea!

[2021-04-26 14:19] adswa commented on #8
I'll record the few relevant steps I performed in https://gin.g-node.org/adswa/processing-workflow-tutorial here:

- Create a new Gin repository and add it as a remote via its SSH url (SSH in order to push data). Use a different name than the one you want to give the special remote. As I wanted to keep it descriptive and call the special remote gin, I called the Git remote gnode: ``git remote add

[2021-04-26 14:46] bpoldrack commented on #35
FTR: With respect to re-converting `phase1` and keep it as close as possible to openneuro, it would be good to double-check task-labels for example. `/data/project/studyforrest/anondata/task_key.txt` lists numbered tasks and previous attempts to re-build `phase1` use the labels `aomovie` and `pandora`. Probably good to settle on common terms?

[2021-04-26 14:55] bpoldrack commented on #34
Adapted the scripts/approach to build this.

First trial of building the (sub)datasets finished:
`/data/project/studyforrest_phase1/pandora`
`/data/project/studyforrest_phase1/anatomy`
`/data/project/studyforrest_phase1/7T_ad`

Initial setup of them was done by `/data/project/studyforrest_phase1/build-forrest/studyforrest-data-raw-sh`.
Actual data import + spec editing was done by their respective

[2021-04-26 15:15] adswa commented on #32
Uhhh this would be cool!

[2021-04-27 07:11] loj commented on #12
re JSON sidecar files: This already exists in a top level file `recording-eyegaze_physio.json` See https://github.com/psychoinformatics-de/studyforrest-data-phase2/issues/17#issuecomment-827352636

re  raw eyelink `.asc` files: If we want to make the BIDS validator happy, I would suggest adding these to a `.bidsignore` file rather than moving them to a `sourcedata/` directory. I would think that i

[2021-04-27 07:55] adswa commented on #10
Is there interest in automating this?
https://scholarly.readthedocs.io should provide means to do this

[2021-04-27 08:19] bpoldrack commented on #34
The three datasets `pandora`, `7T_ad` and `anatomy` require a verification of being what we want them to be. That is: They are supposed to capture all relevant raw data of those "studies" (independent on what should be converted in what context). This requires knowledge of what exactly that means. How do we approach this, @mih?

[2021-04-27 08:19] jsheunis commented on #16
### Update

Here's a screencapture of a Plotly graph of the framewise displacement distributions per subject, each over all 8 runs of the 7T audio movie fMRI acquisition.

I haven't put any time yet into making the graph prettier. Any suggestions for improvements very welcome. The file is standalone HTML (of about 4.5MB) with embedded javascript, as exported from Plotly.

https://user-images.githu

[2021-04-27 08:19] m-wierzba commented on #35
Our local copy of the OpenNeuro dataset lives here:
`/data/project/studyforrest/openneuro/ds000113`

Based on the disk usage inspection, I assume that the download was successful:
[code]

To make sure that the "S3 bucket error" resulted in any content missing, I have run `datalad get` again, but this produced in no output (suggesting that no content is missing). The "S3 bucket error" is still pres

[2021-04-27 08:21] bpoldrack commented on #34
Additionally, I have now created `/data/project/studyforrest_phase1/scientific-data-2014-raw`, that contains those three as subdatasets, since we wanted to aim for publications being the targets for converted datasets. Currently the first conversion run based on this dataset is running in `/data/project/studyforrest_phase1/scientific-data-2014-bids`.

Adjusting the specs and checking what may be m

[2021-04-27 08:24] m-wierzba commented on #35
The goal now is to compare the current state of the [OpenNeuro dataset](https://openneuro.org/datasets/ds000113/versions/1.3.0) against the two datasets that we are primarily interested in putting back to shape (i.e. the so called "phase1" and "phase2" datasets).

The location of the OpenNeuro data:
`/data/project/studyforrest/openneuro/ds000113`

The location of the "phase1" data:
`/data/project/

[2021-04-27 08:44] bpoldrack commented on #35
Looks sane to me :)

And I'm very much interested in this:

for comparing to fresh conversion.

[2021-04-27 09:23] jsheunis commented on #16
Regarding the suspicious motion parameters, I'm going to assume for now that it was created according to the standard in FSL MCFLIRT (which seems to have been used here), which outputs params in the order `trans_x, trans_y, trans_z, rot_x, rot_y, rot_z` with translations in mm and rotations in radians.

[2021-04-27 09:27] bpoldrack commented on #29
Referencing https://github.com/psychoinformatics-de/studyforrest-data/issues/34#issuecomment-827416454

[2021-04-27 09:29] bpoldrack commented on #29
Note: Instead of `phase1`, now aim for publication related targets.

Comparison of conversion outcome is to be made against `anondata`.

[2021-04-27 09:34] bpoldrack commented on #29
Starting to look into conversion issues.

Task labels (see https://github.com/psychoinformatics-de/studyforrest-data/issues/35#issuecomment-826894871): `anondata` uses numbered tasks, whereas an earlier attempt to redo the conversion used `aomovie` and `pandora`. OpenNeuro apparently uses its own names:

[code]

What labels do we settle for, @mih ?

Edit:
Verdict: Take from OpenNeuro. Ergo: `forre

[2021-04-27 09:40] jsheunis commented on #16
Actually, no. Seems like MCFLIRT puts the rotations first. This would explain the suspicious looking data.

[2021-04-27 09:50] adswa commented on #10
Sadly, Google scholar blocks request incredibly fast

[2021-04-27 09:57] jsheunis commented on #16
Here's a screencast for the 3T framewise displacement distributions. In this case data for `sub-07`, `sub-08`, `sub-11`, `sub-12` and `sub-13` were all missing.

https://user-images.githubusercontent.com/10141237/116223336-b8d2a680-a74f-11eb-826d-87306476df45.mov

[2021-04-27 10:03] mih commented on #16
Looks great, all of it!

re the mysterious motion params: I think you last hypothesis is the good one. Range is radians and rotation is first.

[2021-04-27 10:08] mih commented on #16
I have seen multiple analyses that selected individual "good" runs, so it would make sense.

https://www.nature.com/articles/sdata20143/tables/4 Distortion correction did not work.

[2021-04-27 11:45] adswa commented on #10
Got a table! @aqw could you check if this would be an output that you can work with?

It lists all publications from PubMed that cite any of the 2014 (audiomovie) or 2016 (both studyforrest extensions) data descriptors.

[code]

[2021-04-27 11:51] loj commented on #25
Gin logos: https://gin.g-node.org/G-Node/logos

[2021-04-27 12:24] bpoldrack commented on #34
Re raw data capturing:

- `anatomy` looks good as far as I can tell, except for two directories:
   Under `/data/project/studyforrest/anatomy/data` two subjects have an `orig` folder in addition to `raw/dicom`. Content looks like a conversion result, but I'm not sure. Does this need to be captured, @mih ?

- As for `pandora`:
  `/data/project/studyforrest/pandora` shows `logs`, `pmc.tar.gz` and `s

[2021-04-27 12:26] adswa commented on #10
A couple more questions:
- the current publication list includes stuff that is not indexed in PubMed, such as these two blog posts on the studyforrest website - will they stay?
[code]
 - The current publication list also does not cite anything that can be not be found using PubMed, for example if it hasn't been cited correctly. I could take all studies my query missed and just hardcode them.

[2021-04-27 12:50] #33 closed

[2021-04-27 13:13] loj commented on #3
I've submitted a [PR](https://github.com/psychoinformatics-de/studyforrest-www/pull/16) to the website with updated content for the access page based on the template provided by @adswa.

[2021-04-27 13:14] adswa commented on #32
okay, quick update: I will tackle this issue and #10 in conjunction.
The plan is to write a tool that scrapes PubMed for publications that cite Studyforrest, and write them in a structured way (I propose JSON) to a database (i.e., file) if they do not exist in there yet. The structured data can be categorized by a human into "provides data", "uses data", "citation only".
The tool also reads in the

[2021-04-27 13:43] bpoldrack commented on #35
I noticed something confusing to me:
[code]

This is the only sidecar file I could find, referring `recording-cardresp_physio`. `cardresp` is the label "we" used for phase1. However, all I have there are sampling frequencies that are either 100 or 200. Not 500. What's up with that @mih ?

[2021-04-27 13:58] loj commented on #3
datasets that need their READMEs updated:
- [x] https://github.com/psychoinformatics-de/studyforrest-data-multires3t ([PR](https://github.com/psychoinformatics-de/studyforrest-data-multires3t/pull/1) submitted)
- [x] https://github.com/psychoinformatics-de/studyforrest-data-aggregate ([PR](https://github.com/psychoinformatics-de/studyforrest-data-aggregate/pull/1) submitted)
- [x] https://github.c

[2021-04-27 14:06] jsheunis commented on #16
### More updates

A 'good' subject, all runs:

https://user-images.githubusercontent.com/10141237/116255277-6191fd80-a772-11eb-8cd6-520eabe09ef3.mov

And a single 'good' run from the same subject:

https://user-images.githubusercontent.com/10141237/116255426-871f0700-a772-11eb-9e6c-a9b93e1efb15.mov

[2021-04-27 14:06] m-wierzba commented on #35
The final approach (proposed by @mih) to compare the datasets in a more human-readable fashion is the following.

1. We first generate a list of `md5` sums in the following way:
`md5sum $(git annex find) | tee /tmp/openneuro.md5`
`md5sum $(git annex find --branch release_openfmri1) | tee /tmp/openfmri.md5`

2. We then compare the resulting output files with a python script `/data/project/studyforr

[2021-04-28 05:29] mih opened #37 "Convert openneuro README to markdown"
The present on is in RST, which is "rendered" as plain text only.

[2021-04-28 05:36] adswa commented on #12
Sounds  good!

[2021-04-28 05:42] mih opened #38 "Create *public* RIA store"
To be deposited at https://datapub.fz-juelich.de/studyforrest/studyforrest.ria eventually.

This will make all (sub)datasets flexibly accessible, without the need to put everything on github.

The chosen name is a bit clunky, but despite the top-level `studyforrest` directory, there is other data on there too. It makes sense to me to have a dedicated RIA store for just studyforrest, though.

[2021-04-28 05:44] mih opened #39 "Create *private* RIA store"
To be put on `bulk1` eventually. This will be a superset of the one from #38 and additionally contain the pristine raw data and other unreleased or unreleasable components.

Most importantly it will provide a clean separation of the "dirty" workspace on juseless, and the "managed" parts of the dataset.

[2021-04-28 06:26] mih commented on #38
I created the target directory.

[2021-04-28 07:37] loj commented on #2
Current idea for the structure is essentially what is already listed above...

* original (contains the converted "raw" datasets)
* derivatives
* annotations

[2021-04-28 08:34] adswa opened #40 "Implement a data testsuite"
The plan is to use [bats](https://github.com/bats-core/bats-core) to write a shell script that can check the integrity of the data

[2021-04-28 10:21] christian-monch opened #41 "Fix phase2 dataset_description.json"
The dataset_description.json file in studyforrest-data/phase2 has a few errors that should be fixed

- [ ] It contains a Description-field, which is not defined for a top-level dataset_description.json
- [ ] Funding is not a list, but a single entry

[2021-04-28 11:17] jsheunis commented on #16
### Freesurfer derivatives update

Have created this gif from the freesurfer-processed files for subjects 1 through 20. It shows, per subject, snapshots of the white/grey matter, subcortical atlas, and cortical parcellations. Would this be useful to include in the website?

![out](https://user-images.githubusercontent.com/10141237/116395021-e0933e80-a823-11eb-800c-01de26458efc.gif)

[2021-04-28 12:15] #41 closed

[2021-04-28 12:38] aqw commented on #10
Those posts are no longer on the site, so they do not need to stay. :-)

[2021-04-28 12:40] aqw commented on #32
IMO, this is sufficiently covered by the `tools/pubs.py` tool that Adina wrote. Inserting this into the webpage itself can be manual for now, and is still a leap forward compared to the previous status quo.

Thanks Adina!

[2021-04-28 12:40] #32 closed

[2021-04-28 12:40] aqw commented on #25
OpenNeuro, FZJ, and Gin are all acknowledged. Anyone else can easily be added. Closing.

[2021-04-28 12:40] #25 closed

[2021-04-28 13:00] aqw commented on #10
The list is updated, and it took less than 2 hours thanks to Adina's new tool. :-)

[2021-04-28 13:00] #10 closed

[2021-04-28 13:36] jsheunis commented on #20
Seems like raw data should be possible to use when it comes to viewing NIfTI data in the browser, although we can check that once we have Papaya running.

For the quality control features there's definitely processing involved:
- For framewise displacement of functional MRI time series, I use Python (with numpy, pandas and plotly) on the raw white-space-delimited text data.
- For the freesurfer pa

[2021-04-28 16:58] jsheunis opened #42 "Notebook to explore (parts of) the studyforrest dataset"
I was thinking, after our discussion of adding the "Explore" page to the website, that a relatively easy yet "sparkling" feature might be to link to a computational notebook running in the cloud (e.g. with Binder) that takes the user through some data exploration steps such as:
- Installing the top-level and sub-level datasets with datalad
- `datalad get`ing some sample files
- Some cool visualiza

[2021-04-28 19:41] mih commented on #34
OK, I made a first push into this project. It contains the majority of the pieces that are needed to build `studyforrest-data-raw` or `hirni` or whatever the name will be -- in the `artifact/` directory.

[2021-04-29 05:32] adswa commented on #40
Change of plans, we will be using shunit2.

[2021-04-29 05:34] adswa commented on #42
I like the idea!

[2021-04-29 05:36] adswa commented on #17
@christian-monch can you show me how to use your helper to generate a datacite.yml?

[2021-04-29 07:24] adswa commented on #17
Looked at the datacite.yml again - we can input the DOI of a publication. Given that this would be useful, let's not assign a DOI to this dataset right now, but when we have a doi for the manuscript preprint.

For record, here is how the datacite looks so far:

[code]

[2021-04-29 07:24] #17 closed

[2021-04-29 08:36] jsheunis opened #43 "Track neurovault collections related to studyforrest data"
@aqw  collections associated with the studyforrest work that I could find on neurovault:

- High-resolution 7-Tesla fMRI data on the perception of musical genres – an extension to the studyforrest dataset: [https://neurovault.org/collections/308/](https://neurovault.org/collections/308/)
- A studyforrest extension, simultaneous fMRI and eye gaze recordings during prolonged natural stimulation:[htt

[2021-04-29 08:47] adswa commented on #29
``/data/project/studyforrest_phase1/testing/scientific-data-2014-bids `` currently does not contain any functional nifits

[2021-04-29 08:47] jsheunis opened #44 "Explore page update: regenerate freesurfer gif"
- [x] Make the brains bigger (freesurfer zoom)
- [x] Crop out unnecessary background (look into imagemagick)
- [x] Improve ffmpeg rendering (@aqw you mentioned something about png compression, could you repeat here what functionality you suggested?)
- [x] Create mp4 rather than gif

[2021-04-29 08:53] christian-monch opened #45 "Provide schema.org Dataset-markup for studyforrest datasets"
The goal is to provide schema.org-compatible Dataset definitions in studyforrest.org.

We assume that all studyforrest datasets are in BIDS-format. BIDS does not contain sufficient information to generate a useful schema.org Dataset record. The missing information has to be added in another way.

# If we had time/in a perfect world:
The proposed strategy to generate the Dataset definitions is to u

[2021-04-29 09:00] jsheunis opened #46 "Explore page update: strip Plotly JS from html"
- [x] Test if [plotlyjs-basic](https://github.com/plotly/plotly.js/tree/master/dist#plotlyjs-basic) bundle is sufficient for the current framewise displacement graphs.
- [x] Strip the redundant library js from eplore.html

[2021-04-29 09:04] mih commented on #43
I have two more, but they are not worth showing

[2021-04-29 09:09] aqw commented on #43
Cool! We can do the 3D view of all of these.

[2021-04-29 09:29] adswa commented on #29
Here is a potential structure for the events files of the pandora data. They should be derived from the ``behavdata.tsv`` files with a script. Most variables can be pulled out verbatim, just onset and duration need to be computed like this from the trial duration (6 seconds) plus the trial-specific delay

``events.tsv``
[code]

The corresponding json file should look about like this:
``events.json

[2021-04-29 09:39] bpoldrack commented on #29
For anatomy I have the following image series.

SeriesNumber, Protocol, currently assigned modality, whether currently converted or ignored for conversion:

(101, 'SmartBrain_32channel', None, 'ignored'),
(102, 'SmartBrain_32channel', None, 'ignored'),
(103, 'Patient Aligned MPR AWPLAN_SMARTPLAN_TYPE_BRAIN', None, 'ignored'),
(201, 'B1_calibration_brain', None, 'ignored'),
(202, 'B1_calibration_br

[2021-04-29 09:47] loj commented on #29
Suggested content for the `dataset_descrption.json`:
[code]
TODOs:
- [ ] possibly change name of the dataset to "studyforrest phase1"
- [ ] add BIDS version (1.6.0 probably)
- [ ] add DOI

Note: This is different from the OpenNeuro `dataset_description.json`, but that is intended since this dataset includes only data from "phase1".

[2021-04-29 09:48] bpoldrack commented on #29
Current image series for 7T_ad:

(1, 'AAHScout_32ch', None, 'ignored'),
 (2, 'AAHScout_32ch_MPR', None, 'ignored'),
 (3, 'b1map_658', None, 'ignored'),
 (4, 'b1map_658', None, 'ignored'),
 (5, 'CV_shim_452B', None, 'ignored'),
 (6, 'mi_ep2d_flashref_psf_160_p3_1.4mm_7p8_36sl', None, 'ignored'),
 (7, 'mi_ep2d_flashref_psf_160_p3_1.4mm_7p8_36sl_PostProc', None, 'ignored'),
 (8, 'mi_ep2d_flashref_psf

[2021-04-29 09:51] jsheunis commented on #46
I'm looking into just writing the code in JS from scratch. Previously I coded everything in Python and then exported the HTML, which lead to the quagmire that's currently in explore.html.

[2021-04-29 10:08] bpoldrack commented on #29
And pandora, @mih :

(2, 'AAHScout_32ch_MPR', None, 'ignored'),
 (1, 'AAHScout_32ch', None, 'ignored'),
 (3, 'b1map_658', None, 'ignored'),
 (4, 'b1map_658', None, 'ignored'),
 (5, 'CV_shim_452B', None, 'ignored'),
 (6, 'mi_ep2d_flashref_psf_160_p3_1.4mm_7p8_36sl', None, 'ignored'),
 (7, 'mi_ep2d_flashref_psf_160_p3_1.4mm_7p8_36sl_PostProc', None, 'ignored'),
 (9, 'mi_ep2d_flashref_bold_160_iPat3_

[2021-04-29 11:10] mih commented on #38
I decided that it would be best to sync the private and the public store with rsync, instead of going through a series of checkouts. Access to the internal store can be managed more flexibly:

The call excludes a bunch of datasets that cannot be made public by datalad ID. The `chmod` is needed to set the appropriate permissions for the webserver.

[code]

[2021-04-29 12:01] adswa commented on #40
The current tests are in ``/data/project/studyforrest/anondata/tests``, we can move them into the reconverted datasets once they exist.

[2021-04-29 12:12] aqw commented on #19
This is clearly separate now. Closing.

[2021-04-29 12:12] #19 closed

[2021-04-29 12:13] aqw commented on #22
All bootstrap has been ripped out and replaced with our own CSS.

While the visuals havn't been reworked, there have been a few improvements here and there.

[2021-04-29 12:13] #22 closed

[2021-04-29 12:13] aqw commented on #23
Won't fix. We're going with NeuroVault instead.

[2021-04-29 12:13] #23 closed

[2021-04-29 12:14] aqw commented on #27
Won't fix. We're going with NeuroVault instead.

[2021-04-29 12:14] #27 closed

[2021-04-29 12:28] adswa commented on #29
I found a trigger mismatch in the converted Physio files from the audiomovie in your test repo (/data/project/studyforrest_phase1/testing/scientific-data-2014-bids/sub-002/func), @bpoldrack.

The test checks whether it finds the same number as triggers as the run had TRs:
[code]

It fails for a few subjects in the conversion.

subject 1
[code]

subject 2:
[code]
subject 3, 4, 5, 6, 7, 8, 9, 10, 11

[2021-04-29 12:42] jsheunis commented on #46
Looks like violin plots won't work with the basic bundle. However, we can save some MBs by using the minified plotly.js version: https://cdn.plot.ly/plotly-2.0.0-rc.1.min.js

[2021-04-29 12:51] mih commented on #38
Sadly, we cannot use http://datalad.studyforrest.org yet, due to https://github.com/datalad/datalad/issues/5616

[2021-04-29 13:11] adswa commented on #35
There are some files missing in the open neuro dataset: Subject 5 only has 2 (instead of 8) physio files for the auditoryperception/pandora task:

[code]

There are no files for subject 7:

[code]

There are no files for subject 18
[code]

and subject 19
[code]

[2021-04-29 13:18] loj commented on #29
Reminder to add the scanner acquisition protocols to `sourcedata/acquisition_protocols` in the converted BIDS dataset.

[2021-04-29 13:27] mih commented on #38
Ok, so

`datalad clone ria+https://datapub.fz-juelich.de/studyforrest/studyforrest.ria#~super`

should give all public datasets, and a `get` for their content should also work.

[2021-04-29 13:27] #38 closed

[2021-04-29 13:30] mih commented on #39
The store is done, but the issue linked above prevents some data from entering

[2021-04-29 13:32] mih commented on #3
THX!

[2021-04-29 13:32] #3 closed

[2021-04-29 13:33] mih commented on #4
@m-wierzba downloaded it, and it worked! Thx!

[2021-04-29 13:33] #4 closed

[2021-04-29 13:40] #11 closed

[2021-04-29 13:40] adswa commented on #11
BÄM

[2021-04-29 13:42] adswa commented on #29
Doing the same assertion for the pandora data yields mismatches:
subject 1, subject 2
[code]

subject 18

[code]

[2021-04-29 13:46] mih commented on #14
Hosted now internally on the cluster, on the storage server.

[2021-04-29 13:55] loj commented on #29
@bpoldrack

Here is the BIDS convention for the `<index>` value

[2021-04-29 14:19] christian-monch opened #47 "Fix small issue in original/7T_multiresolution_fmri/dataset_description.json"
1.  original/7T_multiresolution_fmri/dataset_description.json has a "Description"-field. That is not BIDS conform in the top-level dataset_description.json and should be removed

2. original/7T_multiresolution_fmri/dataset_description.json has a string entry in "Funding", it should be an array with one entry, i.e.

[code]

[2021-04-29 15:17] adswa commented on #35
The pandora/auditoryperception session on open neuro has wrong stimulus file names and does not ship the audio stimulus files.

[2021-04-29 15:40] adswa commented on #35
The events.tsv files from pandora openneuro also messed up the run and run_id association:

from open neuro:
[code]

from us:

[code]

[2021-04-29 18:39] aqw commented on #43
All five have been added to explore.html. The content around it needs to be written, but the core functionality is there.

[2021-04-29 19:33] adswa commented on #26
Coordination happens via project board, think we can close this.

[2021-04-29 19:33] #26 closed

[2021-04-29 19:49] christian-monch commented on #45
First version of metadata description
[studyforrest-ld.json.txt](https://github.com/psychoinformatics-de/studyforrest-data/files/6401239/studyforrest-ld.json.txt)
(schema.org in JSON-LD).

Should be added to the studyforrest.org page inside the head-element in a script-tag with type "application/ld+json". Example:

[code]

[2021-04-29 19:52] christian-monch commented on #45
@aqw I can add the metadata file, but maybe you would like to do that in order to prevent stepping on each others toes. ;-)

[2021-04-30 05:24] aqw commented on #45
Happy to add this. Should this be on just the main page, or part of the header of all pages on the site?

[2021-04-30 05:40] aqw commented on #45
I was curious if we could link to a file from the header rather than embed it into every page. It seems that is sadly not possible.

It seems that (as of now) JSON-LD is only searched for in `<script>` elements, However, according to the W3C:

`<link>` would be the appropriate tag for non-embedded, static data blocks, but JSON-LD doesn't look for `<link>`.

So embedded in every single page is the

[2021-04-30 06:45] aqw opened #48 "degrade gracefully without javascript"
In general, the site is fully functional without JavaScript (except for the Explore page). However, we should be a bit more kind/informative to the weirdos who navigate the web without javascript enabled (AKA: people like me).

At minimum, a warning (perhaps using the `<noscript>` tag) should be applied to `explore.html`. The filters on `data.html` and `publications.html` would be ideal too.`

[2021-04-30 07:16] bpoldrack commented on #29
Re physio trigger mismatches:

Noting observations for now.

At least for audiomovie, the failing subjects are exactly the ones with sampling frequency 100, while the passing ones have 200. Didn't check pandora yet.

[2021-04-30 07:18] adswa commented on #29
Scripts for converting the log files into events.tsv and events.json files are in
``data/project/studyforrest/gumpdata/scripts/conversion`` as ``reconvert_behavlog_pandora`` and ``reconvert_behavtrials_pandora``. They are used like this:

[code]

i.e. ``<script> <log/trial file> <outpath with placeholder for run>``

[2021-04-30 07:33] loj opened #49 "convert READMEs to markdown"
OpenNeuro and GIN prefer READMEs in markdown

- [x] https://github.com/psychoinformatics-de/studyforrest-data-visualrois ([PR](https://github.com/psychoinformatics-de/studyforrest-data-visualrois/pull/4) submitted)
- [x] https://github.com/psychoinformatics-de/studyforrest-data-aligned ([PR](https://github.com/psychoinformatics-de/studyforrest-data-aligned/pull/3) submitted)
- [x] https://github.c

[2021-04-30 09:11] adswa commented on #40
Tests should be executed via datalad run.
Once we have a converted dataset, we adjust paths in the tests, add it into a ``tests`` directory, and executed within a ``datalad run``:

[code]

[2021-04-30 09:11] m-wierzba commented on #35
@bpoldrack, I'm not sure if this is going to be useful in any way, but you can find some very simple scripts that use `nibabel` to compare two NIfTI files here: `/data/project/studyforrest/openneuro/unittests-comparison`

- the `nibabel-header-compare.py` compares the [header information](https://nipy.org/nibabel/nibabel_images.html#the-image-header) reported by `nibabel`:

`python3 nibabel-header

[2021-04-30 09:18] christian-monch commented on #45
PR https://github.com/psychoinformatics-de/studyforrest-www/pull/25 for studyforrest-www has been created

[2021-04-30 09:26] adswa commented on #12
PR is here: https://github.com/psychoinformatics-de/studyforrest-data-phase2/pull/19

Would you mind taking a look, @loj ?

[2021-04-30 09:30] adswa commented on #43
Sounds like this can be closed because its done :)

[2021-04-30 09:30] #43 closed

[2021-04-30 09:39] adswa commented on #49
AAAAAAAAAAALL MEEEEERGED (:

[2021-04-30 09:41] loj commented on #49
Whoohoo! Thanks @adswa!

I think we're good to go, closing.

[2021-04-30 09:41] #49 closed

[2021-04-30 10:28] #45 closed

[2021-04-30 11:09] #12 closed

[2021-04-30 11:10] adswa commented on #12
Thanks @loj!

[2021-04-30 11:17] adswa opened #51 "studyforrest-data-aligned is not a datalad dataset"
https://github.com/psychoinformatics-de/studyforrest-data-aligned/issues/4

[2021-04-30 11:18] adswa commented on #47
could you take a look at the PR, @christian-monch? Thx!

[2021-04-30 12:28] #47 closed

[2021-04-30 12:42] loj commented on #9
I think this has been covered.

[2021-04-30 12:42] #9 closed

[2021-04-30 12:47] mih commented on #37
Not just openneuro. GIN doesn't like RST either: https://gin.g-node.org/studyforrest/visual-areas

[2021-04-30 12:50] loj commented on #37
I'm currently starting on the OpenNeuro README, but all other dataset READMEs have been converted to markdown. https://github.com/psychoinformatics-de/studyforrest-data/issues/49

[2021-04-30 13:23] adswa commented on #40
It lives in /data/project/studyforrest/studyforrest-unit-tests now and awaits the conversion of @bpoldrack

[2021-04-30 13:23] #40 closed

[2021-04-30 13:42] m-wierzba commented on #35
Just FTR: with regard to the presumed `fslreorient2std` issue, I have run and checked that for the subject we've been looking at previously.

`anondata` path:
`/data/project/studyforrest/anondata/sub001/BOLD/task001_run004/bold.nii.gz`

`openneuro` path:
`/data/project/studyforrest/openneuro/ds000113/sub-01/ses-forrestgump/func/sub-01_ses-forrestgump_task-forrestgump_acq-raw_run-04_bold.nii.gz`

I

[2021-04-30 13:52] loj commented on #37
I have the openneuro README converted. This could be updated on it's own now, or we could include it as part of the general dataset update that's planned. One argument for waiting is that the README includes file paths that may change as a result of incorporating the newly converted data.

[2021-04-30 13:59] loj commented on #29
I have a README put together, but it requires updating the file paths. Once we have a sample single subject converted dataset, I can start updating the file paths.

[2021-04-30 14:04] mih commented on #35
Cool, that is good to know. Hence there is no point in trying to implement something like this in the conversion. Also the response to my original issues was along the lines of "unclear why". I'd say we stick with the output of the more modern converter the @bpoldrack is using.

[2021-04-30 14:15] aqw commented on #48
psychoinformatics-de/studyforrest-www/issues/35

[2021-04-30 14:16] jsheunis commented on #46
Closed in https://github.com/psychoinformatics-de/studyforrest-www/pull/24

[2021-04-30 14:16] #46 closed

[2021-04-30 14:17] jsheunis commented on #44
Closed with https://github.com/psychoinformatics-de/studyforrest-www/pull/34

[2021-04-30 14:17] #44 closed

[2021-04-30 14:18] aqw commented on #21
We went with GitHub Actions, as we could copy-paste from the psyinf website build.

This is in the tree, but it has not been confirmed, as it's not yet merged into `master`.

[2021-04-30 14:19] jsheunis commented on #16
Data quality update done to the explore page with #44 and #46

[2021-04-30 14:19] #16 closed

[2021-04-30 14:24] #13 closed

[2021-04-30 14:51] mih opened #52 "Hackathon deliverables"
- datacite.yml generator
- unitests for data `/data/project/studyforrest/studyforrest-unit-tests`
- schema.org dataset metadata record for main page (inject stodyforrest.org into google dataset search)
- internal ria store with all(*) datasets
- public ria store
- studyforrest org on GIN
- upload of derivate(s) to GIN, use type-git special remote to make it accessible (anonymously to any consumer)

[2021-05-01 10:40] aqw commented on #21
I have merged `uplift` into `master`. GitHub Actions work beautifully, and the `gh-pages` branch is populated as intended.

The website itself is not actually live, as the DNS records need to be updated. But everything else is in place.

[2021-05-01 10:40] #21 closed

[2021-05-02 13:54] #20 closed

[2021-05-03 04:30] mih commented on #8
Here is what I did: https://github.com/datalad-handbook/book/issues/706

[2021-05-03 04:58] mih commented on #8
TODO:

- [x] https://gin.g-node.org/studyforrest/cortical-surfaces-freesurfer
- [x] https://gin.g-node.org/studyforrest/retinotopic-maps
- [x] https://gin.g-node.org/studyforrest/aggregate-fmri-timeseries
- [x] https://gin.g-node.org/studyforrest/visual-areas
- [x] https://gin.g-node.org/studyforrest/aligned-mri
- [x] https://gin.g-node.org/studyforrest/imagespace-transformations
- [x] https://gin

[2021-05-03 06:46] mih opened #53 "Protocol of dataset component syncing in superds clone in project directory"
[code]

TODO

- [ ] go through and add publication dependencies on `origin` for any push to `gin-update` or `github`, to make sure we have all changes locally too.

[2021-05-03 06:47] mih commented on #8
All non-original datasets are now also on GIN.

[2021-05-03 06:47] #8 closed

[2021-05-03 07:58] jsheunis commented on #42
i'll create a working example and then we can see where to go from there

[2021-05-03 08:28] mih commented on #14
All core derivatives are on GIN too now. The public datasets in the internal store are also copied to a public store on `datapub`.

As a first approximation of the issue spirit -- this is done.

[2021-05-03 08:28] #14 closed

[2021-05-03 08:30] mih commented on #36
Given the weight of the website repo this makes sense. But I think it is OK to wait with this move until there is a first consumer.

[2021-05-03 08:31] mih commented on #37
Thx, waiting makes sense!

[2021-05-03 08:31] mih commented on #51
It is now!

[2021-05-03 08:31] #51 closed

[2021-05-04 09:15] mih opened #54 "Update/release computational stimulus features"
Register @chrhaeusler work on the low-level confounds

Orthogonalize against `@mih work on face detection.

There were some relevant changes in pHash https://pypi.org/project/ImageHash/4.0/ that broke the pHashes (new values are returned), but @chrhaeusler verified that despite the value difference, there is not significant change.

[2021-05-05 13:32] jsheunis commented on #42
A running version is now available here: https://github.com/jsheunis/studyforrest-data-binder

[2021-05-06 08:52] mih commented on #34
@bpoldrack can you please post the link to the generated raw datasets?

[2021-05-06 08:54] chrhaeusler commented on #54
It's done:
[psychoinformatics-de/studyforrest-data-confoundsannotation](https://github.com/psychoinformatics-de/studyforrest-data-confoundsannotation),
and imported / meged here:
[psychoinformatics-de/studyforrest-data-annotations](https://github.com/psychoinformatics-de/studyforrest-data-annotations/tree/master/segments)

Open:
both datasets are (probably) not referenced anywhere yet and might be

[2021-05-06 09:03] bpoldrack commented on #34
@mih

[code]

[2021-05-06 09:06] bpoldrack commented on #29
Update from matrix channel:

First of all, it ran through, yeah! I have not yet looked closely into it. Initial glimpse, says there are (somewhat minor issues):

- the behavioral events files of 3 subjects are untracked. Presumably something not quite right with the run call yet.
- something is unlocking but not saving again the toplevel task-forrestgump-*.json
- the `.wavs` and swaroop ended up t

[2021-05-06 09:11] mih commented on #29
It would be good, if this issue gets a checklist to capture what has been looked at and for which conversion attempt. Otherwise it will be rather hard to come to an end.

[2021-05-06 09:28] bpoldrack commented on #29
@mih

Edited first post.

[2021-05-06 11:38] adswa opened #55 "Skip recursive installation of 3rd party library"
see https://github.com/mih/gumpdata/pull/3

[2021-05-06 12:42] loj commented on #29
Here are the issues I've gathered so far for the recent conversion.

re Missing data types:

These are files that were described by the old README that I haven't managed to find in the newly converted dataset. Some of them are likely elsewhere and don't belong in this dataset, but I wanted to list them just in case.
* Raw data:
   - fieldmaps
   - moco
   - angio
   - acquisition protocols (https:

[2021-05-10 01:09] bpoldrack commented on #29
Thanks, @loj !

We decided to not include them. Still the case, @mih?

== dico

Thx, need to investigate. Not intended.

True. Simply forgot to convert the toplevel specs of the raw datasets ;-)
Added.

@mih : Does that stuff exist in any other place and/or shape other than `anondata`?

Same here, @mih - no idea, where that even comes from.
So, considering the point above in addition: I guess I'll

[2021-05-10 05:37] mih opened #56 "Point to old dataset pages from OpenFMRI"
￼https://legacy.openfmri.org/dataset/ds000113/
https://legacy.openfmri.org/dataset/ds000113b/
https://legacy.openfmri.org/dataset/ds000113c/
https://legacy.openfmri.org/dataset/ds000113d/

- [ ] file issue at openneuro to have the old landing pages redirect to these
- [ ] put info about them on the website
- [ ] check if S3 downloads still work

[2021-05-10 05:39] mih commented on #29
Hard to say, this issue lumps together so many aspects. If these are the fieldmaps that were acquired together with the DWI data at 3T, then yes. They are invalid.

moco = Motion corrected; dico = distortion corrected

So depending which specific data we are talking about that statement is true (moco is precondition for dico), or not (dico is optional).

As in "not intended to be there *for now*"?

[2021-05-10 15:30] mih opened #57 "Make https://github.com/psychoinformatics-de/studyforrest-data-confoundsannotation public"

[2021-05-10 15:30] mih commented on #57
done

[2021-05-10 15:30] #57 closed

[2021-09-02 06:30] adswa opened #58 "Configure autoenabled Gin special remotes"
https://github.com/datalad-handbook/book/pull/753 highlighted a faulty siblings configuration that would fail to retrieve annexed data when applied. As this config was "envisioned" during the hackathon, I feared we could have applied to the studyforrest datasets. I did not find a faulty special remote configuration, but I also didn't find any special remote pointing to the sibling datasets on Gin.

[2021-10-07 10:43] adswa commented on #58
In a fresh clone of this repository, I fail to obtain data that should be co-hosted on Gin when the HDF cloud of datapub is done:

[code]

[2021-12-15 23:22] yarikoptic commented on #6
well, there is already http://datasets.datalad.org/?dir=/studyforrest , so I think this could be closed

[2021-12-16 03:22] mih commented on #6
True! Thx!

[2021-12-16 03:22] #6 closed

[2022-01-24 10:53] jsheunis opened #60 "Update metadata for studyforrest dataset and subdatasets"
From a quick scan, it looks like only the 4 subdatasets in [studyforrest/original](https://github.com/psychoinformatics-de/studyforrest-data/tree/master/original) have metadata available, in the form of `datacite.yml` and BIDS metadata.

For completeness, it would make sense for the super and all subdatasets to have at least some form of minimal metadata (e.g. `datacite.yml` or `studyminimeta.yaml

[2022-01-25 13:04] christian-monch commented on #60
I agree that it makes sense to add the `studyminimeta.yaml`. It will take some time though

[2022-01-28 13:13] jsheunis commented on #60
Since many (all?) of the open datasets part of studyforrest are [hosted on GIN](https://gin.g-node.org/studyforrest), these all have `datacite.yml` files that were added previously (thanks, @christian-monch) in order to generate a DOI. These files have essentially the same information that would go into the studyminimeta file. I'm working on a `datacite_gin` extractor to extract this information,

[2022-02-09 11:02] jsheunis commented on #42
This is now running here: https://github.com/psychoinformatics-de/studyforrest-data-binder and was included in the webiste.

[2022-03-03 06:55] #58 closed